<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update Student details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<script>
</script>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">


                <form class="login100-form validate-form" action="/updatestu" method="POST">
                    <span class="login100-form-title ">
						Enter Student Details
                    </span>
                    <input type="hidden" name="id" value="<%=data[0].id%>">


                    <div class="wrap-input100 validate-input ">
                        <label for=" ">First Name</label>
                        <input class="input100 " type="text " name="firstName" placeholder="First Name" value="<%=data[0].firstName?data[0].firstName:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">Last Name</label>
                        <input class="input100 " type="text " name="lastName" placeholder="Last Name " value="<%=data[0].lastName?data[0].lastName:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for="cars ">Gender</label>
                        <select class="input100 " id="id " name="gender" value="<%=data[0].gender?data[0].gender: " " %>">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">DOB</label>
                        <input class="input100 " type="text " name="dob" placeholder="Address " value="<%=data[0].dob?data[0].dob:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">Address</label>
                        <input class="input100 " type="text " name="address" placeholder="Address " value="<%=data[0].address?data[0].address:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">Education Qualification</label>
                        <input class="input100 " type="text " name="education" placeholder="Education Qualification " value="<%=data[0].education?data[0].education:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for="cars ">Borad/University</label>
                        <select class="input100 " id="id " name="board" value="<%=data[0].board?data[0].board:" " %>">
                      <option value="Board ">Board</option>
                      <option value="University ">University</option>
                    </select>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for="cars ">Passing/Purusing</label>
                        <select class="input100 " id="id " name="passing" value="<%=data[0].passing?data[0].passing:" " %>">
                      <option value="Passing ">Passing<aa/option>
                      <option value="Perusing">Perusing</option>
                    </select>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">Score</label>
                        <input class="input100 " type="text " name="score" placeholder="Socre " value="<%=data[0].score?data[0].score:" " %>">
                        <span class="focus-input100 "></span>
                    </div>
                    <div class="wrap-input100 validate-input ">
                        <label for=" ">Interested in Course</label>
                        <input class="input100 " type="text " name="course" placeholder="Interested in Course " value="<%=data[0].course?data[0].course:" " %>">
                        <span class="focus-input100 "></span>
                    </div>




                    <div class="container-login100-form-btn ">
                        <button class="login100-form-btn " value="submit ">
							Submit Details
						</button>
                    </div>


                    <div class="text-center p-t-136 ">

                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js "></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js "></script>

</body>

</html>